

.contenedor1 {
    background-color: pink;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  
.contenedor2 {
    background-color: pink;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .tarjeta {
    background-color: white ;
    height: 150px;
    width: 150px;
    border: 1px solid rgb(224, 221, 221);
    padding: 10px;
    margin: 5px;                                                                                                                                                                                                                                                                                                    
}